@use "../foundation/variable.scss" as var;

.l-product {
    img {
        width: 100%;
    }

    &__concept {
        h2 {
            margin: 100px 0 80px 0;
        }

        p {
            font-size: 13px;
            color: var.$font-sub;
        }
    }

    &__goods {
        ul {
            width: 86%;
            margin: 0 auto 220px;
        }
    }
}